@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&display=swap');

* {
  font-family: 'League Spartan', sans-serif;
}

// Custom scrollbar
body::-webkit-scrollbar {
  width: 1em;
  background-color: rgba(169, 169, 169, 0.582);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(137, 137, 137);
  outline: 1px solid slategrey;
}
*::-webkit-scrollbar {
  width: 0.5em;
  background-color: rgba(142, 142, 142, 0.6);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(193, 193, 193);
  outline: 1px solid rgb(76, 90, 104);
}
